main {
  width: 100%;
  height: 100vh;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cells-box {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0;
}

.cell {
  width: 30px;
  height: 30px;
  background-color: gray;
}

.cell--dead {
  background-color: black;
}

.cell--alive {
  background-color: white;
}
